main
{
  width: 100%;
  min-height: 700px;
}

main .limitation
{
  padding: 40px 0px;
}


#loginBG main
{
  /* Correct form vertical align applying */
  height: 0px;
}

#loginBG main .limitation
{
  height: 801px;
  width: 35.1%;
  border-radius: 50px;
  background-image: -moz-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
  box-shadow: 4.5px 7.794px 15.3px 2.7px rgba(18, 18, 18, 0.96),inset 0px 25px 40px 0px rgba(0, 0, 0, 0.69);
  padding: 62px 0px;
}

#login-form
{
  width: 74%;
  text-align: center;
}

#login-form h2
{
  font-weight: normal;
}

#login-form p
{
  font-weight: 500;
  margin-top: 45px;
}

#login-form .form-inputs
{
  margin: 95px 0px;
}

#login-form .form-inputs input
{
  width: 100%;
}

#login-form .btn-blue
{
  width: 66%;
}

.slider .tasks-list,
#students-list
{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.slider .task,
.slider .student-card
{
  width: 22%;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  background-image: -moz-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
  box-shadow: 4.5px 7.794px 15.3px 2.7px rgba(18, 18, 18, 0.96),inset 0px 25px 40px 0px rgba(0, 0, 0, 0.69);
  padding: 46px 38px;
  height: 626px;
}

.task-content p
{
  font-weight: 100;
  margin: 35px 0px;
  overflow: hidden;
}

.task-status
{
  display: flex;
  align-items: center;
}

.task-status::after
{
  width: 33px;
  height: 34px;
  border-radius: 50%;
  margin: 0px auto;
}

.task-done::after
{
  content: "";
  background-color: #42690f;
}


.task-unresolved::after
{
  content: "";
  background-color: rgb(133, 49, 49);
}

.task .task-lang
{
  width: 155px;
  height: 155px;
  background-image: url("../images/icons/001-c-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px auto;
}

.student-card .user-avatar
{
  width: 155px;
  height: 155px;
  flex: 0 0 auto;
}

/* .task-mobile
{
  width: 100%;
  padding: 23px 31px;
  border-radius: 30px;
  background-color: rgb(25, 138, 156);
  box-shadow: 0px 15px 24px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  margin-bottom: 50px;
  display: none;
} */

.slider .student-card
{
  padding: 46px 20px;
}

.student-content
{
  width: 100%
}

#students-list
{
  width: 100%;
}

.student-tasks .task
{
  margin-bottom: 22px;
  width: 100%;
  height: auto;
  border-radius: 15px;
  border: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row;
  padding: 6px 21px;
  box-shadow: none;
  background-image: none;
}


.student-tasks .task-lang
{
  width: 29px;
  height: 29px;
  margin: 0;
}

.student-tasks .task p
{
  margin: 0;
}


#snippet-form .form-inputs:first-child
{
  display: flex;
  flex-flow: row wrap;
  padding: 0px 60px;
}

#snippet-form .form-inputs:first-child input,
#snippet-form .form-inputs:first-child select
{
  width: 43.6%;
  margin-bottom: 50px;
}

#task-basis-inputs
{
  margin-top: 0;
}

#snippet-form .textarea
{
  width: 100%;
  height: 471px;
  border-radius: 50px;
  background-image: -moz-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
  box-shadow: 4.5px 7.794px 15.3px 2.7px rgba(18, 18, 18, 0.96),inset 0px 25px 40px 0px rgba(0, 0, 0, 0.69);
  padding: 17px 20px;
}

#snippet-form textarea
{
  width: 100%;
  height: 100%;
  border-radius: 50px;
  border: 1px solid #fff;
  padding: 20px 40px;
}

#snippet-form textarea[name = "description"]
{
  width: auto;
  flex-basis: 52%;
  height: 159px;
}

#task-content-link
{
  font-size: 1.33em;
  color: #198a9c;
  text-decoration: underline;
}

#snippet-form .task-status
{
  width: 33%;
  height: auto;
  font-size: 1.33em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#task-submit
{
  flex-basis: 25%;
}

#task-reset
{
  margin-left: auto;
  margin-right: 80px;
}

#task-status + label
{
  display: flex;
  align-items: center;
  cursor: pointer;
}

#student-information
{
  width: 78.87%;
  display: flex;
  margin: 0px auto 70px auto;
  /* text-align: center; */
}

#student-header
{
  width: auto;
}

#student-header .user-avatar
{
  margin: 0;
}

#student-header .back
{
  float: left;
}

#student-information .user-avatar
{
  width: 249px;
  height: 249px;
}

#student-content
{
  width: 50.4%;
  margin: 0px 70px;
}

#student-content p:last-child
{
  margin-top: 30px;
}

#student-content a
{
  font-size: 18px;
  font-weight: bold;
}

#student .task
{
  width: 20%;
  height: 370px;
}

#student .task p
{
  margin: 15px 0px;
}

#student .task-lang
{
  width: 94px;
  height: 88px;
  margin: 0px auto;
}

#current-task
{
  width: 100%;
}

#current-task .task
{
  display: flex;
}

#current-task .task-lang
{
  margin: 0;
}

#current-task .task-content
{
  margin: 0px 50px;
}

#current-task .task-content h3
{
  margin-top: 0;
}

#current-task .flex-between
{
  width: 40%;
  margin-top: 30px;
}
