form input,
select,
textarea
{
  padding: 18px 0px;
  font-size: inherit !important;
  font-family: inherit;
  border: none;
  border-bottom: 1px solid #d4d5d6;
  background-color: transparent;
  color: #929292;
}

textarea
{
  resize: none;
}

form input:focus,
select:focus,
textarea:focus
{
  border-bottom: 1px solid #d4d5d6;
  outline: none;
}

input[type = "submit"],
input[type = "reset"],
input[type = "button"],
button,
label.button
{
  border: none;
  border-radius: 29px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: inherit;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  font-style: normal;
  padding: 27px 70px;
  background-image: -moz-linear-gradient( 90deg, rgb(29,28,33) 0%, rgb(51,54,61) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(29,28,33) 0%, rgb(51,54,61) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(29,28,33) 0%, rgb(51,54,61) 100%);
  box-shadow: 4.5px 7.794px 15.3px 2.7px rgba(18, 18, 18, 0.96),inset 0px 0px 22.14px 4.86px rgba(131, 131, 131, 0.004);
}

.btn-blue
{
  background-image: -moz-linear-gradient( -60deg, rgb(18,124,200) 0%, rgb(21,158,239) 100%) !important;
  background-image: -webkit-linear-gradient( -60deg, rgb(18,124,200) 0%, rgb(21,158,239) 100%) !important;
  background-image: -ms-linear-gradient( -60deg, rgb(18,124,200) 0%, rgb(21,158,239) 100%) !important;
  box-shadow: 4.5px 7.794px 15.3px 2.7px rgba(18, 18, 18, 0.96),inset 0px 6px 21px 0px rgba(19, 19, 19, 0.76) !important;
}

.btn-blue:hover
{
  box-shadow: 4.5px 7.794px 15.3px 2.7px rgba(18, 18, 18, 0.96) !important;
}

.form-inputs
{
  width: 100%;
  margin: 30px 0px;
}

.form-inputs input:not(:last-child)
{
  margin-bottom: 46px;
}

input[type = "checkbox"]
{
  display: none;
}

input[type = "checkbox"] + label
{
  color: #e76e54;
}

input[type = "checkbox"] + label:before
{
  content: "";
  width: 43px;
  height: 43px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image:url("../images/icons/unresolved.png");
  margin-right: 10px;
}

input[type = "checkbox"] + label span:after
{
  content: "Не завершена";
}

input[type = "checkbox"]:checked + label
{
  color: #5edf0b;
}

input[type = "checkbox"]:checked + label:before
{
  background-image:url("../images/icons/ready.png");
}

input[type = "checkbox"]:checked + label span:after
{
  content: "Решена";
}
