header
{
  width: 100%;
  height: 130px;
  background-color: #383a41;
  border-bottom: 1px solid #8c8c8c
}

aside.header
{
  display: none;
  width: 128px;
  height: 100%;
  background-image: -moz-linear-gradient( 90deg, rgb(11,199,197) 0%, rgb(48,176,235) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(11,199,197) 0%, rgb(48,176,235) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(11,199,197) 0%, rgb(48,176,235) 100%);
  color: #fff;
}

header .limitation
{
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}

aside.header .limitation
{
  width: 100%;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu
{
  width: 85px;
  height: 85px;
  padding: 23px 18px;
  cursor: pointer;
  border-radius: 50%;
  background-image: -moz-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
  box-shadow: 4.5px 7.794px 15.3px 2.7px rgba(18, 18, 18, 0.96),inset 0px 0px 22.14px 4.86px rgba(131, 131, 131, 0.004);
}

.mobile-menu-bg
{
  width: 100%;
  height: 100%;
  background-image: url("../images/icons/open-menu.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.mobile-menu-bg:hover
{
  background-image: url("../images/icons/open-menu-hover.png");
}

.menu-active
{
  padding: 23px 0px;
  border-radius: 45px;
  background-image: -moz-linear-gradient( -90deg, rgb(53,56,63) 0%, rgb(41,42,48) 54%, rgb(28,27,32) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(53,56,63) 0%, rgb(41,42,48) 54%, rgb(28,27,32) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(53,56,63) 0%, rgb(41,42,48) 54%, rgb(28,27,32) 100%);
  box-shadow: 4.5px 7.794px 15.3px 2.7px rgba(18, 18, 18, 0.96),inset 0px 25px 40px 0px rgba(0, 0, 0, 0.69);
  width: 168px;
  height: 688px;
  position: absolute;
  top: 30px;
}

.menu-active ul.mobile-nav
{
  display: flex;
  flex-flow: column;
  align-items: center;
}

.menu-active .mobile-menu-bg
{
  padding: 0px 18px;
  background-size: auto;
  height: 85px;
  border-bottom: 1px solid #fff;
}

.menu-active + .empty
{
  display: block;
}

ul.mobile-nav
{
  width: 100%;
  font-weight: bold;
  margin: 0;
  padding: 0;
  display: none;
  color: #fff;
  padding: 28px 0px;
}

ul.mobile-nav li
{
  border-radius: 10px;
  width: 108px;
  height: 108px;
  margin-bottom: 28px;
  box-shadow: 4.5px 7.794px 15.3px 2.7px rgba(18, 18, 18, 0.96),inset 0px 6px 21px 0px rgba(19, 19, 19, 0.76);
  display: flex;
  background-color: #fff;
}

ul.mobile-nav li a
{
  margin: auto;
  width: 66px;
  height: 88px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

ul.mobile-nav li:hover
{
  background-color: #159eef;
}

#loginBG
{
  width: 100%;
  height: 100%;
}

#loginBG header
{
  background-color: transparent;
  border: none;
}

#loginBG #header-logo
{
  width: auto;
  margin: auto;
  color: rgb(149, 221, 239);
}

#header-logo
{
  width: 92px;
  text-decoration: none;
  color: #fff;
}

#header-logo p
{
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
}

aside.header a:not(#header-logo)
{
  width: 100%;
  height: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a:not(#header-logo):active
{
  background-color: #fff;
}

#header-content
{
  text-align: center;
}

#header-content #header-logo p
{
  font-size: 18px;
  font-weight: bold;
}

#header-content p
{
  font-weight: 100;
  font-size: 14px;
  margin: 0;
}

#header-avatar
{
  font-size: 18px;
  display: flex;
  align-items: center;
}

#header-avatar .user-avatar
{
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

#header-avatar-content
{
  text-align: right;
  margin-right: 20px;
  font-weight: 100;
}

#header-avatar-content p:not(:last-child)
{
  margin-bottom:15px;
}

#aside-header-avatar
{
  font-size: 18px;
  display: flex;
  flex-flow: column;
  font-weight: 300;
  font-style: normal;
}

#aside-header-avatar .user-avatar
{
  width: 100%;
  margin-bottom: 10px;
}

#list-icon
{
  background-image: url("../images/icons/list.png");
}

#group-icon
{
  background-image: url("../images/icons/group.png");
}

#logout-icon
{
  background-image: url("../images/icons/logout.png");
}

#add-icon
{
  background-image: url("../images/icons/add.png");
}
