
  @media (min-width:300px) and (max-width:700px)
  {
    input[type = "submit"],
    input[type = "reset"],
    input[type = "button"],
    button,
    label.button
    {
      padding: 20px 30px;
    }

    header
    {
      position: fixed;
      height: 84px;
    }

    header .limitation
    {
      justify-content: space-between !important;
    }

    #loginBG header
    {
      height: 64px;
    }

    .mobile-menu
    {
      width: 46px;
      height: 46px;
      padding: 13px 9px;
    }

    .menu-active
    {
      width: 97px;
      height: 430px;
    }

    ul.mobile-nav li
    {
      width: 58px;
      height: 58px;
      margin-bottom: 14px;
    }

    ul.mobile-nav li a
    {
      width: 45px;
      height: 45px;
    }

    #header-content > p
    {
      display: none;
    }

    #header-content #header-logo p
    {
      font-size: 16px;
    }

    #header-avatar .user-avatar
    {
      width: 48px;
      height: 48px;
    }

    #header-avatar-content
    {
      display: none;
    }

    #loginBG
    {
      height: auto;
      background-position: left 40%;
      background-size: auto;
    }

    #loginBG header
    {
      position: static;
    }

    #loginBG #header-logo
    {
      display: block;
    }

    #loginBG #header-logo h3
    {
      margin-top: 35px;
      font-size: 1em;
    }

    #loginBG main
    {
      height: auto;
    }

    #loginBG main .limitation
    {
      width: 100% !important;
      height: 500px !important;
      background-image: none;
    }

    #login-form .form-inputs
    {
      margin: 50px 0px;
    }

    #login-form h1
    {
      margin-top: 0;
    }

    main
    {
      padding-top: 104px;
      min-height: 800px !important;
      padding-bottom: 25px;
    }

    .limitation
    {
      width: 84.5% !important;
      justify-content: center !important;
      box-shadow: none !important;
      padding: 0 !important;
    }

    h2
    {
      font-size: 1.5em !important;
    }

    #login-form
    {
      width: 80%;
      margin: 0;
    }

    .slider-arrow
    {
      display: none;
    }

    .slider .tasks-list,
    #students-list
    {
      flex-flow: column;
    }

    .slider .task,
    .slider .student-card
    {
      width: 84.5%;
      height: 357px;
      text-align: left;
      padding: 25px 20px;
      margin: 0px auto 45px auto;
    }

    .slider .task h3,
    .slider .student-card h3
    {
      margin: 0;
    }

    .slider-content
    {
      margin-bottom: 0px !important
    }

    .slider-paginator
    {
      display: none !important;
    }

    .user-name
    {
      margin-top: 16px !important;
      margin-bottom: 20px !important;
    }

    .task h2
    {
      margin-top: 0;
    }

    .task .task-lang
    {
      margin: 0;
      margin-left: auto;
      margin-bottom: -70px;
    }

    .task-lang
    {
      width: 63px !important;
      height: 63px !important;
      margin: 0 16px 0px 0px;
    }

    .task-content
    {
      border: none;
    }

    .task-content p
    {
      margin: 15px 0px;
      max-height: 155px;
    }

    .task-status
    {
      height: auto;
    }

    .task-status h3
    {
      margin: 0;
    }

    .task-header-info > h3:last-child
    {
      display: none;
    }

    #students-list
    {
      width: 100%;
    }

    #students-list .student-content
    {
      border: none;
    }

    #student-tasks
    {
      display: none;
    }

    .student-card .user-avatar
    {
      display: none;
    }

    .student-card .user-name
    {
      text-align: center;
    }

    .student-task
    {
      justify-content: space-between;
    }

    .student-tasks .task,
    #student .task
    {
      margin-bottom: 17px;
      width: 100%;
      height: auto;
      border-radius: 15px;
      border: 1px solid #fff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row;
      padding: 6px 21px;
      box-shadow: none;
      background-image: none;
    }

    #student .task:nth-child(n+5)
    {
      display: none;
    }

    .student-tasks .task-lang,
    .tasks-list .task-lang
    {
      width: 29px !important;
      height: 29px !important;
      margin: 0 !important;
    }

    .student-task .task-status
    {
      flex: 0;
    }

    .student-task .task-status::before
    {
      border-radius: 50%;
      width: 18px;
      height: 18px;
    }

    .student-task .task-done::before
    {
      content: "";
      background-color: #10f025;
    }

    .student-task .task-unresolved::before
    {
      content: "";
      background-color: #730032;
    }

    #snippet-form .form-inputs:first-child
    {
      display: flex;
      flex-flow: column;
      padding: 0px 20px;
    }

    #snippet-form .form-inputs:first-child input,
    #snippet-form .form-inputs:first-child select
    {
      width: 100%;
      margin: 0px auto;
    }

    #snippet-form .textarea
    {
      height: 430px;
    }

    #snippet-form textarea
    {
      text-align: center;
    }

    .form-inputs
    {
      margin: 23px 0px;
    }

    #task-content-link
    {
      text-align: center;
    }

    #snippet-form .task-status::before
    {
      content: "";
    }

    #snippet-form .task-status
    {
      width: auto;
    }

    #snippet-buttons
    {
      justify-content: space-between !important;
    }

    #task-reset
    {
      margin-left: 0;
      margin-right: 0;
    }

    #task-status + label:before
    {
      margin: 0px 5px 0px 0px;
    }

    input[type = "checkbox"] + label:before
    {
      width: 25px;
      height: 25px;
    }

    #task-submit
    {
      margin: 0;
    }

    #snippet-form textarea[name = "description"]
    {
      width: 100%;
      margin-top: 23px;
    }

    .back
    {
      display: block !important;
    }

    .student-card h2
    {
      font-size: 1em !important;
    }

    .task-status::after
    {
      width: 26px;
      height: 26px;
      margin: 0;
      margin-left: auto;
    }

    #student-information
    {
      width: 100%;
      flex-flow: column;
      align-items: center;
    }

    #student-back
    {
      display: none;
    }

    #student-information .user-avatar
    {
      width: 124px;
      height: 125px;
    }

    #student-information .flex-column-end:last-child
    {
      display: none;
    }

    #student-content
    {
      margin: 0;
      width: 100%;
    }

    .student-tasks .task-status h3:before
    {
      content: "";
    }

    #student-content h3, p
    {
      margin: 25px 0px;
    }
}
