.slider
{
  width: 100%;
  display: flex;
  flex-flow: column;
}

.slider-content
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 96px;
}

.slider-arrow
{
  width: 47px;
  height: 57px;
  background-position: center;
  background-size: contain;
  background-image: url("../images/icons/left-arrow.png");
  background-repeat: no-repeat;
  cursor: pointer;
}
.slider-content > a:last-child
{
  transform: rotateZ(180deg);
}

.slider-paginator
{
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider-paginator .slide
{
  border-radius: 50%;
  border: 2px solid #fff;
  width: 17px;
  height: 16px;
  margin: 0px 23px;
}

.slider-paginator .slide-active
{
  box-shadow: inset 0px 4px 8px 0px rgba(19, 19, 19, 0.76);
  background-color: #127cc7;
  border: none;
}

.slider-paginator nav
{
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider-paginator .pagination
{
  width: 100%;
  display: flex;
  justify-content: center;
}

.slider-paginator .pagination li:first-child,
.slider-paginator .pagination li:last-child
{
  display: none;
}

.slider-paginator .page-item
{
  border-radius: 50%;
  border: 2px solid #fff;
  width: 17px;
  height: 16px;
  margin: 0px 23px;
  /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.slider-paginator .page-item a, .slider-paginator .page-item span
{
  display: block;
}

/* .slider-paginator .page-item span
{
  display: none;
} */

.slider-paginator .active
{
  box-shadow: inset 0px 4px 8px 0px rgba(19, 19, 19, 0.76);
  background-color: #127cc7;
  border: none;
}
