@import "fonts.css" all;
@import "header.css" all;
@import "content.css" all;
@import "form.css" all;
@import "tablet.css" all;
@import "mobile.css" all;
@import "slider.css" all;


*
{
  box-sizing: border-box;
}

body
{
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-size: 16px;
  color: #fff;
  background-color: #fff;
  background-image: url('../images/loginBG.png');
  background-size: cover;
}

h1, h2, h3
{
  font-weight: normal;
}

h3
{
  font-size: 1.5em;
}

h2
{
  font-size: 1.875em;
  font-weight: 900;
  font-style: normal;
}

h1
{
  font-size: 2.25em;
}

ul
{
  list-style-type: none;
}

a, a:visited, a:active
{
  color: inherit;
  font-size: 18px;
  text-decoration: none;
}

.limitation
{
  width: 83.8%;
  height: 100%;
  margin: 0px auto;
  display: flex;
  flex-flow: column;
}

.flex
{
  display: flex;
}

.flex-between
{
  display: flex;
  justify-content: space-between;
}

.flex-around
{
  display: flex;
  justify-content: space-around;
}

.flex-row-between
{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.flex-row-end
{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.flex-column
{
  display: flex;
  flex-flow: column;
}

.flex-column-between
{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.flex-row-end
{
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.flex-column-end
{
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}


.flex-vertical-center
{
  align-items: center;
}

.flex-horizontal-center
{
  display: flex;
  justify-content: center;
}

.flex-row-wrap
{
  display: flex;
  flex-flow: row wrap;
}

.user-avatar
{
  width: 89px;
  height: 88px;
  background-image: url("../images/icons/user.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  box-shadow: 4.5px 7.794px 15.3px 2.7px rgba(18, 18, 18, 0.96),inset 0px 0px 22.14px 4.86px rgba(131, 131, 131, 0.004);
}

.text-center
{
  text-align: center;
}

.back
{
  width: 35px;
  height: 30px;
  background-image: url('../images/icons/return2.png');
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.empty
{
  display: none;
}

.user-name
{
  margin-top: 20px;
  margin-bottom: 50px;
}

.user-name p
{
  margin: 10px 0px 0px 0px;
}

.user-name p:first-child
{
  font-weight: normal;
}

footer
{
  width: 100%;
  height: 61px;
  background-color: #212124;
  font-size: 14px;
  font-weight: 100;
}

footer .limitation
{
  flex-flow: row;
  align-items: center;
}
