@media (min-width:900px) and (max-width:1500px)
{
  body
  {
    height: 100% !important;
  }

  #loginBG main
  {
    height: 893px;
    min-height: 0px;
  }

  main
  {
    min-height: 830px;
  }

  #loginBG main .limitation
  {
    width: 49.4% !important;
    height: 801px;
    border-radius: 50px;
    background-image: -moz-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
    box-shadow: 4.5px 7.794px 15.3px 2.7px rgba(18, 18, 18, 0.96),inset 0px 25px 40px 0px rgba(0, 0, 0, 0.69);
  }

  #login-form .form-inputs
  {
    margin: 70px 0px;
  }

  .limitation
  {
    width: 96% !important;
  }

  .student-tasks .task
  {
    width: 100% !important;
    height: auto !important;
    display: flex !important;
    padding: 10px 20px !important;
  }

  #students-list .student-card
  {
    width: 30%;
    height: 626px;
  }

  #students-list .student-card:nth-child(n + 4)
  {
    display: none;
  }

  .student-tasks .task-status h3:before
  {
    content: "";
  }

  .student-tasks .task-lang
  {
    margin: 0;
  }

  #student-information
  {
    width: 100%;
    padding-bottom: 33px;
    border-bottom: 1px solid #fff;
    margin-bottom: 25px;
  }

  #student .slider-arrow
  {
    display: none;
  }

  .slider-arrow
  {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  #student .slider-content
  {
    margin-bottom: 25px;
  }

  .slider .tasks-list
  {
    justify-content: space-between;
  }

  .slider .task
  {
    width: 29%;
    height: 621px;
    display: block;
  }

  .slider .task:nth-child(n+3)
  {
    display: none;
  }

  .task-content p
  {
    max-height: 150px;
  }

  .slider .task:nth-child(-n+3)
  {
    display: block;
  }

  #student .task-lang
  {
    width: 85px;
    height: 85px;
  }

  #student .task
  {
    width: 16%;
  }

  #student .task:nth-child(-n+5)
  {
    display: block;
  }

  #student .task-content p
  {
    max-height: 135px;
  }

  #student .task-content h3
  {
    font-size: 1em;
    font-weight: 500;
  }

  .slider .task, .slider .student-card
  {
    padding: 25px 20px;
  }

}

@media (min-width:700px) and (max-width:900px)
{
  body
  {
    height: 100% !important;
  }

  #loginBG main
  {
    height: 893px;
    min-height: 0px;
  }

  main
  {
    min-height: 830px;
  }

  #loginBG main .limitation
  {
    width: 49.4% !important;
    height: 801px;
    border-radius: 50px;
    background-image: -moz-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(28,27,32) 0%, rgb(53,56,63) 100%);
    box-shadow: 4.5px 7.794px 15.3px 2.7px rgba(18, 18, 18, 0.96),inset 0px 25px 40px 0px rgba(0, 0, 0, 0.69);
  }

  #login-form .form-inputs
  {
    margin: 70px 0px;
  }

  .limitation
  {
    width: 96% !important;
  }

  .student-tasks .task
  {
    width: 100% !important;
    height: auto !important;
    display: flex !important;
    padding: 10px 20px !important;
  }

  #students-list .student-card
  {
    width: 30%;
    height: 626px;
  }

  #students-list .student-card:nth-child(n + 4)
  {
    display: none;
  }

  .student-tasks .task-status h3:before
  {
    content: "";
  }

  .student-tasks .task-lang
  {
    margin: 0;
  }

  #student-information
  {
    width: 100%;
    padding-bottom: 33px;
    border-bottom: 1px solid #fff;
    margin-bottom: 25px;
  }

  #student .slider-arrow
  {
    display: none;
  }

  #student .slider-content
  {
    margin-bottom: 25px;
  }

  .slider .tasks-list
  {
    justify-content: space-between;
  }

  .slider .task
  {
    width: 30%;
    height: 621px;
    display: block;
  }

  .slider .task:nth-child(n+3)
  {
    display: none;
  }

  .task-content p
  {
    max-height: 210px;
  }

  .slider .task:nth-child(-n+3)
  {
    display: block;
  }

  .task .task-lang
  {
    width: 110px;
    height: 110px;
  }

  #student .task-lang
  {
    width: 85px;
    height: 85px;
  }

  #student .task
  {
    width: 20%;
  }

  #student .task-content p
  {
    max-height: 130px;
  }

  #student .task-content h3
  {
    font-size: 1em;
    font-weight: 500;
  }

  #student-content
  {
    margin: 0px 50px;
  }

  #student-content p:last-child
  {
    max-height: 78px;
    overflow: hidden;
  }

  .slider .task, .slider .student-card
  {
    padding: 25px 20px;
  }


}

/* @media (min-width:900px) and (max-width:1500px) and (max-height: 1024px)
{
  body
  {
    display: flex;
    height: 1024px !important;
  }

  header
  {
    display: none;
  }

  aside.header
  {
    display: block;
  }

  #loginBG header
  {
    display: block;
  }

  #loginBG main .limitation
  {
    width: 61% !important;
    height: 600px;
    margin: 0px auto !important;
  }

  #login-form .form-inputs
  {
    margin: 70px 0px;
  }

  main
  {
    display: flex;
  }

  .limitation
  {
    width: 96% !important;
    height: 90% !important;
    margin: auto auto auto 0px !important;
  }

  .student-tasks .task-status h3:before
  {
    content: "";
  }
} */

/* @media (min-width:700px) and (max-width:900px)
{
  body
  {
    display: flex;
    height: 1024px !important;
  }

  header
  {
    display: none;
  }

  aside.header
  {
    display: block;
  }

  #loginBG header
  {
    display: block;
  }

  #loginBG main .limitation
  {
    width: 61% !important;
    height: 600px;
    margin: 0px auto !important;
  }

  #login-form
  {
    width: 75%;
  }

  #login-form .form-inputs
  {
    margin: 70px 0px;
  }

  main
  {
    display: flex;
  }

  .limitation
  {
    width: 96% !important;
    margin: auto auto auto 0px !important;
  }

  .student-tasks .task-status h3:before
  {
    content: "";
  }

  .student-card .user-avatar
  {
    width: 110px;
    height: 110px;
  }

  .student-card h2
  {
    font-size: 1.3em;
  }
} */
